In [83]:
!pip3 install pandas

Requirement already satisfied: pandas in /opt/homebrew/lib/python3.10/site-packages (1.4.4)
Requirement already satisfied: numpy>=1.21.0 in /opt/homebrew/lib/python3.10/site-packages (from pandas) (1.23.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.10/site-packages (from pandas) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/homebrew/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/homebrew/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [84]:
import pandas as pd
import numpy as np
import itertools

In [85]:
POSSIBLE_VALUES = set(range(1, 10))
POSSIBLE_VALUES

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [86]:
BLOQUES = [
    set(itertools.product([0, 1, 2], ['A', 'B', 'C'])),
    set(itertools.product([0, 1, 2], ['D', 'E', 'F'])),
    set(itertools.product([0, 1, 2], ['G', 'H', 'I'])),

    set(itertools.product([3, 4, 5], ['A', 'B', 'C'])),
    set(itertools.product([3, 4, 5], ['D', 'E', 'F'])),
    set(itertools.product([3, 4, 5], ['G', 'H', 'I'])),

    set(itertools.product([6, 7, 8], ['A', 'B', 'C'])),
    set(itertools.product([6, 7, 8], ['D', 'E', 'F'])),
    set(itertools.product([6, 7, 8], ['G', 'H', 'I'])),
]

In [87]:
sudoku_df = pd.read_csv('sudoku_input_tarea.csv', header=None)
sudoku_df.columns = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']
sudoku_df

     A    B    C    D    E    F   G    H    I
0  NaN  NaN  NaN  NaN  NaN  6.0 NaN  NaN  NaN
1  NaN  5.0  9.0  NaN  NaN  NaN NaN  NaN  8.0
2  2.0  NaN  NaN  NaN  NaN  8.0 NaN  NaN  NaN
3  NaN  4.0  5.0  NaN  NaN  NaN NaN  NaN  NaN
4  NaN  NaN  3.0  NaN  NaN  NaN NaN  NaN  NaN
5  NaN  NaN  6.0  NaN  NaN  3.0 NaN  5.0  4.0
6  NaN  NaN  NaN  3.0  2.0  5.0 NaN  NaN  6.0

In [88]:
sudoku_df.fillna('', inplace=True)
sudoku_df

     A    B    C    D    E    F G    H    I
0                           6.0
1       5.0  9.0                        8.0
2  2.0                      8.0
3       4.0  5.0
4            3.0
5            6.0            3.0    5.0  4.0
6                 3.0  2.0  5.0         6.0

In [89]:
def get_indexes(row_index, column_index):
    index_blocks = [b for b in BLOQUES if (row_index, column_index) in b][0]
    column_indexes = {(row_index, c_index) for c_index in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']}
    row_indexes = {(r_index, column_index) for r_index in range(9)}

    return index_blocks.union(column_indexes).union(row_indexes)

In [90]:
def get_values_in_indexes(indexes, df):
    values_set = set()
    for r_i, c_i in indexes:
        value_cell = df.iloc[r_i][c_i]
        if not (isinstance(value_cell, str) or isinstance(value_cell, set)):
            values_set = values_set.union({value_cell})
    return values_set

In [91]:
def get_df_sudoku(sudoku_df):
    _sudoku_df = sudoku_df.copy()
    for row_index, row in _sudoku_df.iterrows():
        for c_index in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']:
            cell_value_is_empty = _sudoku_df.iloc[row_index][c_index] == ''
            if cell_value_is_empty:
                used_values = get_values_in_indexes(get_indexes(row_index, c_index), _sudoku_df)
                cell_possible_values = POSSIBLE_VALUES - used_values
                if len(cell_possible_values) == 0:
                    return None
                if len(cell_possible_values) == 1:
                    _sudoku_df.iloc[row_index][c_index] = cell_possible_values.pop()
    return _sudoku_df

In [92]:
def get_full_df_sudoku(sudoku_df):
    _sudoku_df = sudoku_df.copy()

    last = None
    new = _sudoku_df
    while new is not None and not new.equals(last):
        last = new
        new = get_df_sudoku(last)

    if new is None:
        return None
    
    if not new.eq('').any().any():
        return new

    min_set_cardinality = 8000
    min_cell_row = None
    min_cell_col = None
    possible_values = set()
    for row_index, row in new.iterrows():
        for c_index in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']:
            cell_value_is_empty = _sudoku_df.iloc[row_index][c_index] == ''
            if cell_value_is_empty:
                used_values = get_values_in_indexes(get_indexes(row_index, c_index), _sudoku_df)
                cell_possible_values = POSSIBLE_VALUES - used_values
                if len(cell_possible_values) < min_set_cardinality:
                    min_set_cardinality = len(cell_possible_values)
                    possible_values = cell_possible_values.copy()
                    min_cell_row = row_index
                    min_cell_col = c_index

    for val in possible_values:
        last = _sudoku_df.copy()
        last.iloc[min_cell_row][min_cell_col] = val
        new = get_full_df_sudoku(last)
        if new is None:
            continue
        if not new.eq('').any().any():
            return new
    return None

In [93]:
solved = get_full_df_sudoku(sudoku_df)
if solved is None:
    print('not solved')
else:
    print('solved')
    print(solved)

IndexError: single positional indexer is out-of-bounds